.App {
  background-image: url('https://res.cloudinary.com/mensahe/image/upload/v1672130803/letter-illustration.svg');
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-bottom: 10px;
}

.App-header {
  background: linear-gradient(to right, #5a8ac5,#efeeb1, #ec657c);
  position: absolute;
  width: 17rem;
  height: 35rem;
  right: 10rem;
  font-size: calc(10px + .5vmin);
  color: black;
  border: 1px solid #2c3d52;
  padding: 5rem;
  border-radius: 10px;
  box-shadow: 5px 5px 45px 5px #15273f;
}

/* .App-link {
  color: #61dafb;
} */

form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin: 4rem 2rem auto 2rem;
}



input {

    height: 25px;
    width: 14rem;
    border: 1px solid #313131;
    border-radius: 3px;
    background-color: whitesmoke;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.signUp {
  width: 14.2rem;
  display: flex;
  justify-content: space-between;
}


.submitButton {
  height: 25px;
  width: 14rem;
  margin-top: 1.5rem;
  border-radius: 15px;
  border: 0.5px solid black;
  cursor: pointer;
}

.submitButton:hover:active {
  background-color: red;
}